<h1>Data Wrangling: Natural Language Processing<h1>
<h3>  Objective:</h3> <p>Here we will be generating some tokens on the content for every review. For NLP processe's we'll be using spacy and for Sentiment Analysis some Transformers</p>
<bh>

In [150]:
import numpy as np
import types
import pandas as pd
import nltk
from dateutil import parser
nltk.download('gutenberg')
nltk.download('genesis')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package gutenberg to
[nltk_data]     /Users/carlosarreola/nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!
[nltk_data] Downloading package genesis to
[nltk_data]     /Users/carlosarreola/nltk_data...
[nltk_data]   Package genesis is already up-to-date!

## Data Load

In [151]:
df = pd.read_csv('Data/web data/AmazonReviewsData.tsv',sep='|')
df.head(5)

  Review Author                                     Review Content  Stars
0        Sydney  Tolles Halsband super gut verarbeitet und die ...    0.0
1        Sydney  Tolles Halsband super gut verarbeitet und die ...    0.0
2  Carmen Heger  Ich bin total verliebt in diese Halsbander. Mi...    0.0
3        Sydney  Tolles Halsband super gut verarbeitet und die ...    0.0
4  Carmen Heger  Ich bin total verliebt in diese Halsbander. Mi...    0.0

## NLP Exploration

In [152]:
# Lets start with an overview
df['Review Content'].head(10)

0    Tolles Halsband super gut verarbeitet und die ...
1    Tolles Halsband super gut verarbeitet und die ...
2    Ich bin total verliebt in diese Halsbander. Mi...
3    Tolles Halsband super gut verarbeitet und die ...
4    Ich bin total verliebt in diese Halsbander. Mi...
5    Sehr susses Halsband, werde oft darauf angespr...
6    Tolles Halsband super gut verarbeitet und die ...
7    Ich bin total verliebt in diese Halsbander. Mi...
8    Sehr susses Halsband, werde oft darauf angespr...
9                          entspricht der Beschreibung
Name: Review Content, dtype: object

In [153]:

df['Review Content_nword'] = df['Review Content'].apply(lambda x: len(str(x).split(" ")))
df[["Review Content","Review Content_nword"]].sort_values(by = "Review Content_nword",ascending = True).head(5)

     Review Content  Review Content_nword
5719            NaN                     1
2851            NaN                     1
2863            NaN                     1
5689            NaN                     1
5698            NaN                     1

In [154]:

df[["Review Content","Review Content_nword"]].sort_values(by = "Review Content_nword",ascending = False).head(10)

                                         Review Content  Review Content_nword
3808  Having a small dog (Yorkshire Terrier) doesnt ...                  1033
1428  Having a small dog (Yorkshire Terrier) doesnt ...                  1033
436   Having a small dog (Yorkshire Terrier) doesnt ...                  1033
4059  We've had this collar for over three months no...                   625
1677  We've had this collar for over three months no...                   625
684   We've had this collar for over three months no...                   625
685   We've had this collar for over three months no...                   625
1686  We've had this collar for over three months no...                   625
687   We've had this collar for over three months no...                   625
690   We've had this collar for over three months no...                   625

In [155]:
def splitTextToTriplet(string):
    words = str(string).split()
    grouped_words = [' '.join(words[i: i + 512]) for i in range(0, len(words), 512)]
    return grouped_words
cont=[]
for index, row in df.iterrows():
    if(int(row['Review Content_nword'])>512):
        value =row['Review Content']
        value= splitTextToTriplet(value[0])
        cont.append(value)
    else:
        cont.append(row['Review Content'])
df['Review Content']=cont

KeyboardInterrupt:

In [ ]:

df["Review Content_nchars"] = df["Review Content"].str.len()

In [ ]:

df[["Review Content","Review Content_nchars"]].sort_values(by = "Review Content_nchars",ascending = False).head()

                                         Review Content  Review Content_nchars
4058  While I never thought that I'd be buying a sho...                 2434.0
1678  While I never thought that I'd be buying a sho...                 2434.0
1683  While I never thought that I'd be buying a sho...                 2434.0
1687  While I never thought that I'd be buying a sho...                 2434.0
686   While I never thought that I'd be buying a sho...                 2434.0

In [ ]:

df[["Review Content","Review Content_nchars"]].sort_values(by = "Review Content_nchars",ascending = True).head()

     Review Content  Review Content_nchars
687             [W]                    1.0
642             [M]                    1.0
641             [M]                    1.0
2968            [U]                    1.0
1205            [W]                    1.0

In [ ]:
stop = stopwords.words("spanish")

stop.append('NaN')
print(stop)

['de', 'la', 'que', 'el', 'en', 'y', 'a', 'los', 'del', 'se', 'las', 'por', 'un', 'para', 'con', 'no', 'una', 'su', 'al', 'lo', 'como', 'más', 'pero', 'sus', 'le', 'ya', 'o', 'este', 'sí', 'porque', 'esta', 'entre', 'cuando', 'muy', 'sin', 'sobre', 'también', 'me', 'hasta', 'hay', 'donde', 'quien', 'desde', 'todo', 'nos', 'durante', 'todos', 'uno', 'les', 'ni', 'contra', 'otros', 'ese', 'eso', 'ante', 'ellos', 'e', 'esto', 'mí', 'antes', 'algunos', 'qué', 'unos', 'yo', 'otro', 'otras', 'otra', 'él', 'tanto', 'esa', 'estos', 'mucho', 'quienes', 'nada', 'muchos', 'cual', 'poco', 'ella', 'estar', 'estas', 'algunas', 'algo', 'nosotros', 'mi', 'mis', 'tú', 'te', 'ti', 'tu', 'tus', 'ellas', 'nosotras', 'vosotros', 'vosotras', 'os', 'mío', 'mía', 'míos', 'mías', 'tuyo', 'tuya', 'tuyos', 'tuyas', 'suyo', 'suya', 'suyos', 'suyas', 'nuestro', 'nuestra', 'nuestros', 'nuestras', 'vuestro', 'vuestra', 'vuestros', 'vuestras', 'esos', 'esas', 'estoy', 'estás', 'está', 'estamos', 'estáis', 'están', 'esté', 'estés', 'estemos', 'estéis', 'estén', 'estaré', 'estarás', 'estará', 'estaremos', 'estaréis', 'estarán', 'estaría', 'estarías', 'estaríamos', 'estaríais', 'estarían', 'estaba', 'estabas', 'estábamos', 'estabais', 'estaban', 'estuve', 'estuviste', 'estuvo', 'estuvimos', 'estuvisteis', 'estuvieron', 'estuviera', 'estuvieras', 'estuviéramos', 'estuvierais', 'estuvieran', 'estuviese', 'estuvieses', 'estuviésemos', 'estuvieseis', 'estuviesen', 'estando', 'estado', 'estada', 'estados', 'estadas', 'estad', 'he', 'has', 'ha', 'hemos', 'habéis', 'han', 'haya', 'hayas', 'hayamos', 'hayáis', 'hayan', 'habré', 'habrás', 'habrá', 'habremos', 'habréis', 'habrán', 'habría', 'habrías', 'habríamos', 'habríais', 'habrían', 'había', 'habías', 'habíamos', 'habíais', 'habían', 'hube', 'hubiste', 'hubo', 'hubimos', 'hubisteis', 'hubieron', 'hubiera', 'hubieras', 'hubiéramos', 'hubierais', 'hubieran', 'hubiese', 'hubieses', 'hubiésemos', 'hubieseis', 'hubiesen', 'habiendo', 'habido', 'habida', 'habidos', 'habidas', 'soy', 'eres', 'es', 'somos', 'sois', 'son', 'sea', 'seas', 'seamos', 'seáis', 'sean', 'seré', 'serás', 'será', 'seremos', 'seréis', 'serán', 'sería', 'serías', 'seríamos', 'seríais', 'serían', 'era', 'eras', 'éramos', 'erais', 'eran', 'fui', 'fuiste', 'fue', 'fuimos', 'fuisteis', 'fueron', 'fuera', 'fueras', 'fuéramos', 'fuerais', 'fueran', 'fuese', 'fueses', 'fuésemos', 'fueseis', 'fuesen', 'sintiendo', 'sentido', 'sentida', 'sentidos', 'sentidas', 'siente', 'sentid', 'tengo', 'tienes', 'tiene', 'tenemos', 'tenéis', 'tienen', 'tenga', 'tengas', 'tengamos', 'tengáis', 'tengan', 'tendré', 'tendrás', 'tendrá', 'tendremos', 'tendréis', 'tendrán', 'tendría', 'tendrías', 'tendríamos', 'tendríais', 'tendrían', 'tenía', 'tenías', 'teníamos', 'teníais', 'tenían', 'tuve', 'tuviste', 'tuvo', 'tuvimos', 'tuvisteis', 'tuvieron', 'tuviera', 'tuvieras', 'tuviéramos', 'tuvierais', 'tuvieran', 'tuviese', 'tuvieses', 'tuviésemos', 'tuvieseis', 'tuviesen', 'teniendo', 'tenido', 'tenida', 'tenidos', 'tenidas', 'tened', 'NaN']

In [ ]:

df["Review Content_nstopwords"] = df["Review Content"].apply(lambda word: len([x for x in str(word).split(" ") if x in stop]))
df[["Review Content","Review Content_nstopwords"]].sort_values(by = "Review Content_nstopwords",ascending = False).head()

,Review Content,Review Content_nstopwords
1763,Entrega: Dentro de los estimado. Comunicacion...,113
4143,Entrega: Dentro de los estimado. Comunicacion...,113
1758,Entrega: Dentro de los estimado. Comunicacion...,113
4158,Entrega: Dentro de los estimado. Comunicacion...,113
1767,Entrega: Dentro de los estimado. Comunicacion...,113

In [ ]:
df[["Review Content","Review Content_nstopwords"]].sort_values(by = "Review Content_nstopwords",ascending = True).head()

,Review Content,Review Content_nstopwords
3649,"JUSTO A LOS DOS MESES DE COMPRADO, EL CONTROL ...",0
2445,NaN,0
4493,NaN,0
4495,NaN,0
4496,NaN,0

In [ ]:
df["Review Content_ndigits"] = df["Review Content"].apply(lambda x: len([x for x in str(x).split() if x.isdigit()]))
df[["Review Content","Review Content_ndigits"]].sort_values(by = "Review Content_ndigits",ascending = False).head()

,Review Content,Review Content_ndigits
486,So many things are not as described on this co...,10
1478,So many things are not as described on this co...,10
1474,So many things are not as described on this co...,10
482,So many things are not as described on this co...,10
3858,So many things are not as described on this co...,10

In [ ]:
#Number of short_description with lots of Upper words
df["Review Content_nupper"] = df["Review Content"].apply((lambda word: len([x for x in str(word).split() if x.isupper()])))
df[["Review Content","Review Content_nupper"]].sort_values(by = "Review Content_nupper",ascending = False).head()

                                         Review Content  Review Content_nupper
298   JUSTO A LOS DOS MESES DE COMPRADO, EL CONTROL ...                     35
1269  JUSTO A LOS DOS MESES DE COMPRADO, EL CONTROL ...                     35
1234  JUSTO A LOS DOS MESES DE COMPRADO, EL CONTROL ...                     35
277   JUSTO A LOS DOS MESES DE COMPRADO, EL CONTROL ...                     35
3682  JUSTO A LOS DOS MESES DE COMPRADO, EL CONTROL ...                     35

## NLP Treatment's
The most common treatments we use are transforming into lower case, some times removing dates from data, remove stop words, lemmatizing, replacing accents (in this case already did in data extraction nb), stemming (personally I prefer only using lemma)

In [ ]:
#lets clone into new column
df['Tokens_Review_Content'] = df['Review Content']

In [ ]:
#lower everything
df['Tokens_Review_Content'] = df['Tokens_Review_Content'].apply(lambda x: str(x).lower())

In [ ]:
#lets start replacing some characters we found above
df['Tokens_Review_Content'] = df['Tokens_Review_Content'].str.replace(' / ',' ')
df['Tokens_Review_Content'] = df['Tokens_Review_Content'].str.replace('[^\w\s]',' ')
df['Tokens_Review_Content'] = df['Tokens_Review_Content'].str.replace('  ',' ')

In [ ]:
#normalize for ascii utf8
df['Review Content'] = df['Review Content'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df['Tokens_Review_Content'] = df['Tokens_Review_Content'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

In [ ]:
#Removal of stop word
df['Tokens_Review_Content'] = df['Tokens_Review_Content'].apply(lambda x: ' '.join(x for x in x.split() if x not in stop))

let's use spacy for lemmatization
<br>
is a more effective option than stemming because it converts the word into its root word, rather than just stripping the suffices. It makes use of the vocabulary and does a morphological analysis to obtain the root word. Therefore, we usually prefer using lemmatization over stemming.

In [ ]:
import spacy
import es_core_news_sm
nlp = es_core_news_sm.load()

df['Tokens_Review_Content'] = df['Tokens_Review_Content'].apply(lambda x: ' '.join([myword.lemma_ for myword in nlp(x)]))

In [ ]:
## Importing Textblob package
from textblob import TextBlob

#df['Tokens_Review_Content'] =  df['Tokens_Review_Content'].apply(lambda x: TextBlob(x).words)
df['Tokens_Review_Content'].tail(10)

6437    perro raza mediano verdad pense ir desaparecer...
6438    buen articulo cachorro encanto especialmente a...
6439    cachorro schnauzer miniatura etapa querer mord...
6440    primero mano veiar si ir resistir preste pelot...
6441    salchichaber mucho energia decidir dar él 4 ju...
6442    kit venir completo tal venir imagen deber deci...
6443    perritar muerde muchisimo tiro dos diente carn...
6444    perro raza mediano verdad pense ir desaparecer...
6445    buen articulo cachorro encanto especialmente a...
6446    producto utilizar juguete perrito gusto ratito...
Name: Tokens_Review_Content, dtype: object

## Sentiment Analysis
We used LinCE dataset for training multilingual BERT model using huggingface transformers. LinCE has four language mixed data. We took three of it spanish-english, hindi-english and nepali-english. Hope we will train and add other language and task too.

In [ ]:
#!pip install codeswitch

In [ ]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification, pipeline
# declare tokenizer
tokenizer = AutoTokenizer.from_pretrained("sagorsarker/codeswitch-spaeng-sentiment-analysis-lince")
# declare model
model = AutoModelForSequenceClassification.from_pretrained("sagorsarker/codeswitch-spaeng-sentiment-analysis-lince")

# pipeline star
nlp = pipeline('sentiment-analysis', model=model, tokenizer=tokenizer)
print('NLP model ready!')

NLP model ready!

In [ ]:
df['Review Content'] = df['Review Content'].str.replace(' / ',' ')
df['Review Content'] = df['Review Content'].str.replace('[^\w\s]',' ')
df['Review Content'] = df['Review Content'].str.replace('  ',' ')

In [ ]:
import re
def splitTextonWords(Text, numberOfWords=512):
    if (numberOfWords > 1):
        text = str(Text).lstrip()
        pattern = '(?:\S+\s*){1,'+str(numberOfWords-1)+'}\S+(?!=\s*)'
        x =re.findall(pattern,text)
    elif (numberOfWords == 1):
        x = Text.split()
    else: 
        x = None
    return x

In [ ]:
content=[]
for index, row in df.iterrows():
    if(row['Review Content_nword'] > 512 ): 
        a= splitTextonWords(row['Review Content'])
        print(a)
    else:
        content.append(row['Review Content'])
        print('b')

In [ ]:
# now lets apply our model to the data
df2 = df.tail(10).copy()
df2['Sentiment'] =  df2['Review Content'].apply(lambda x: nlp(str(x)))

In [ ]:
df2.head()

,Review Author,Review Content,Stars,Review Content_nword,Review Content_nchars,Review Content_avg_word_len,Review Content_nstopwords,Review Content_ndigits,Review Content_nupper,Tokens_Review_Content,Sentiment
6437,Gabriela Gómez Hernandez,Tengo un perro de raza mediana y la verdad pen...,5.0,45,225.0,4.022222,25,0,0,perro raza mediano verdad pense ir desaparecer...,"[{'label': 'LABEL_1', 'score': 0.9284067153930..."
6438,Juan Carlos Marín Santana,Es un buen articulo a mi cachorro le encanto e...,5.0,32,186.0,4.843750,14,0,0,buen articulo cachorro encanto especialmente a...,"[{'label': 'LABEL_1', 'score': 0.9637386798858..."
6439,M. Aguilar,Tengo un cachorro de schnauzer miniatura y est...,5.0,147,831.0,4.659864,71,1,2,cachorro schnauzer miniatura etapa querer mord...,"[{'label': 'LABEL_1', 'score': 0.9276354908943..."
6440,Jorge,De primera mano se veia que si iban a resistir...,4.0,81,407.0,4.037037,36,3,0,primero mano veiar si ir resistir preste pelot...,"[{'label': 'LABEL_1', 'score': 0.68682861328125}]"
6441,Ania Fernández,Tenemos un salchicha con mucha energia decidim...,5.0,61,346.0,4.688525,28,1,0,salchichaber mucho energia decidir dar él 4 ju...,"[{'label': 'LABEL_1', 'score': 0.9196534752845..."

In [ ]:
sentence = "El perro le ladraba a La Gatita .. .. lol #teamlagatita en las playas de Key Biscayne este Memorial day"
nlp(sentence)

[{'label': 'LABEL_1', 'score': 0.9587041735649109}]

In [ ]:
#!pip install pysentimiento

In [ ]:
from pysentimiento import create_analyzer
analyzer = create_analyzer(task="sentiment", lang="es")

Downloading: 100%|██████████| 334/334 [00:00<00:00, 46.4kB/s]
Downloading: 100%|██████████| 150/150 [00:00<00:00, 55.2kB/s]
Downloading: 100%|██████████| 838k/838k [00:00<00:00, 1.47MB/s]
Downloading: 100%|██████████| 925/925 [00:00<00:00, 223kB/s]
Downloading: 100%|██████████| 415M/415M [01:00<00:00, 7.22MB/s]

In [ ]:
# now lets apply our model to the data

df['Sentiment'] =  df['Review Content'].apply(lambda x: analyzer.predict(str(x)))

In [ ]:
df.head()

,Review Author,Review Content,Stars,Review Content_nword,Review Content_nchars,Review Content_nstopwords,Review Content_ndigits,Review Content_nupper,Tokens_Review_Content,Sentiment
0,Sydney,Tolles Halsband super gut verarbeitet und die ...,0.0,93,566.0,2,0,0,toll halsband super gut verarbeitet und die mo...,"AnalyzerOutput(output=NEU, probas={NEU: 0.717,..."
1,Sydney,Tolles Halsband super gut verarbeitet und die ...,0.0,93,566.0,2,0,0,toll halsband super gut verarbeitet und die mo...,"AnalyzerOutput(output=NEU, probas={NEU: 0.717,..."
2,Carmen Heger,Ich bin total verliebt in diese Halsbander Mit...,0.0,55,336.0,0,0,3,ich bin total verliebt in diese halsbander mit...,"AnalyzerOutput(output=NEU, probas={NEU: 0.560,..."
3,Sydney,Tolles Halsband super gut verarbeitet und die ...,0.0,93,566.0,2,0,0,toll halsband super gut verarbeitet und die mo...,"AnalyzerOutput(output=NEU, probas={NEU: 0.717,..."
4,Carmen Heger,Ich bin total verliebt in diese Halsbander Mit...,0.0,55,336.0,0,0,3,ich bin total verliebt in diese halsbander mit...,"AnalyzerOutput(output=NEU, probas={NEU: 0.560,..."

In [ ]:
df['Probs'] = df['Sentiment']
neg=[]
neu=[]
pos=[]
avg =[]
output = []

for index, row in df.iterrows():
    value = row['Probs']
    value = str(value.probas.values())
    value = value.replace('dict_values([','')
    value = value.replace('])','')
    value = value.replace(' ','')
    neg.append(value.split(",")[0])
    neu.append(value.split(",")[1])
    pos.append(value.split(",")[2])
    avg.append((float(value.split(",")[1])-float(value.split(",")[0])+float(value.split(",")[2])))
    res = row['Probs']
    res = str(res.output)
    output.append(res)



df['Sent_Negative'] = neg
df['Sent_Neutral'] = neu
df['Sent_Positive'] = pos
df['Sent_Average'] = avg
df['Sentiment Output'] = output


df.head()

,Review Author,Review Content,Stars,Review Content_nword,Review Content_nchars,Review Content_nstopwords,Review Content_ndigits,Review Content_nupper,Tokens_Review_Content,Sentiment,Probs,Sent_Negative,Sent_Neutral,Sent_Positive,Sent_Average,Sentiment Output
0,Sydney,Tolles Halsband super gut verarbeitet und die ...,0.0,93,566.0,2,0,0,toll halsband super gut verarbeitet und die mo...,"AnalyzerOutput(output=NEU, probas={NEU: 0.717,...","AnalyzerOutput(output=NEU, probas={NEU: 0.717,...",0.2210940271615982,0.7169510126113892,0.06195493042469025,0.557812,NEU
1,Sydney,Tolles Halsband super gut verarbeitet und die ...,0.0,93,566.0,2,0,0,toll halsband super gut verarbeitet und die mo...,"AnalyzerOutput(output=NEU, probas={NEU: 0.717,...","AnalyzerOutput(output=NEU, probas={NEU: 0.717,...",0.2210940271615982,0.7169510126113892,0.06195493042469025,0.557812,NEU
2,Carmen Heger,Ich bin total verliebt in diese Halsbander Mit...,0.0,55,336.0,0,0,3,ich bin total verliebt in diese halsbander mit...,"AnalyzerOutput(output=NEU, probas={NEU: 0.560,...","AnalyzerOutput(output=NEU, probas={NEU: 0.560,...",0.35247668623924255,0.5600512027740479,0.08747208118438721,0.295047,NEU
3,Sydney,Tolles Halsband super gut verarbeitet und die ...,0.0,93,566.0,2,0,0,toll halsband super gut verarbeitet und die mo...,"AnalyzerOutput(output=NEU, probas={NEU: 0.717,...","AnalyzerOutput(output=NEU, probas={NEU: 0.717,...",0.2210940271615982,0.7169510126113892,0.06195493042469025,0.557812,NEU
4,Carmen Heger,Ich bin total verliebt in diese Halsbander Mit...,0.0,55,336.0,0,0,3,ich bin total verliebt in diese halsbander mit...,"AnalyzerOutput(output=NEU, probas={NEU: 0.560,...","AnalyzerOutput(output=NEU, probas={NEU: 0.560,...",0.35247668623924255,0.5600512027740479,0.08747208118438721,0.295047,NEU

In [157]:
df.head()

,Review Author,Review Content,Stars,Review Content_nword
0,Sydney,Tolles Halsband super gut verarbeitet und die ...,0.0,93
1,Sydney,Tolles Halsband super gut verarbeitet und die ...,0.0,93
2,Carmen Heger,Ich bin total verliebt in diese Halsbander. Mi...,0.0,55
3,Sydney,Tolles Halsband super gut verarbeitet und die ...,0.0,93
4,Carmen Heger,Ich bin total verliebt in diese Halsbander. Mi...,0.0,55

## Sentiment Analysis Views

In [ ]:
sentiment_gorup= df.groupby("Sentiment Output")
Sent_Negative	Sent_Neutral	Sent_Positive

In [ ]:
df.plot(x="Sentiment Output", y=["Sent_Negative", "Sent_Neutral", "Sent_Positive"], kind="bar")